html {
  background: url("/web/images/auth-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#bodyMainForm {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  overflow-y:hidden;
}
.main-signin {
  box-shadow: 0px 140px 140px white;
  width: 455px;
  height: 310px;
  margin: 190px auto;

}
.main-signin .main-signin__head {
  background: #242328;
  border-bottom: 1px solid #2d2f32;
  border-radius: 10px 10px 0 0;
  box-shadow: -15px 15px 200px white;
  padding: 10px 0;
  width: 471px;
  margin-left: -8px;
}
.main-signin .main-signin__head p {
  color: #777b91;
  text-align: center;
  font-size: 22px;
  font-family: sans-serif;
  text-transform: uppercase;
  line-height: 40px;
}
.main-signin .main-signin__middle {
  background: #1f1e23;
  border-bottom: 1px solid #2d2f32;
  border-top: 1px solid #2d2f32;
  box-shadow: 0px 1px 0px #000;
  width: 471px;
  margin-left: -8px;
}
.main-signin .main-signin__middle .middle__form {
  margin: 40px 0 10px 0;
}
.main-signin .main-signin__middle .middle__form ::-webkit-input-placeholder {
  color: #25262a;
}
.main-signin .main-signin__middle .middle__form :-moz-placeholder {
  color: #25262a;
}
.main-signin .main-signin__middle .middle__form ::-moz-placeholder {
  color: #25262a;
}
.main-signin .main-signin__middle .middle__form :-ms-input-placeholder {
  color: #25262a;
}
.main-signin .main-signin__middle .middle__form .login-input-auth, .main-signin .main-signin__middle .middle__form .pass-input-auth, .main-signin .main-signin__middle .middle__form .submit-login-auth {
  background: #daf4fe;
  border-radius: 5px 5px 0 0;
  border: none;
  color: #25262a;
  display: block;
  margin: 0 20px;
  outline: none;
  padding: 15px 0;
  width: 90%;
}

.main-signin .main-signin__middle .middle__form .login-input-auth, .main-signin .main-signin__middle .middle__form .pass-input-auth {
  padding:15px 20px;
  width:81%;
  border-top: 1px solid #acabab;
}

.main-signin .main-signin__middle .middle__form .pass-input-auth {
  border-top: 1px solid #acabab;
  border-radius: 0 0 5px 5px;
}
.reg {
  background: #00aeef;
  border-radius: 5px;
  width: 175px;
  height: 30px;
  float: left;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  color: white;
  font-family: serif;
  border: navajowhite;
  margin: -17px 241px;
  cursor: pointer;
}
.aboutPassword {
  margin-left: -9px;
  width: 130%;
}
.reg:hover {
  background: #0088bb;
}
.main-signin .main-signin__middle .middle__form .submit-login-auth {
  background: #00aeef;
  border-radius: 5px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #80d6f7;
  color: #fff;
  font-size: 18px;
  margin-top: 15px;
  cursor:pointer;
  text-transform: uppercase;
}
.main-signin .main-signin__middle .middle__form .submit-login-auth:hover {
  background: #0088bb;
}
.middle__form .submit-login-auth:active {
  background: #80d6f7;
}
.main-signin .main-signin__foot {
  background: #242328;
  border-top: 1px solid #2d2f32;
  border-radius: 0 0 10px 10px;
  padding: 30px 0;
  margin-left: -8px;
  width: 471px;
}
.main-signin .main-signin__foot .foot {
  float: left;
  padding: 0 0 0 6%;
  width: 56%;
}
.main-signin .main-signin__foot .foot p {
  color: #586069;
  margin: 5px -5px;
  width: 207px;
}
.main-signin .main-signin__foot .foot{
  float: left;
  width: 38%;
}
.main-signin .main-signin__foot,
.main-signin .main-signin__foot {
  float: left;
}
.main-signin .main-signin__foot a:not('.aMore'),
.main-signin .main-signin__foot a:not('.aMore') {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: block;
  margin: -12px 0;
  text-indent: -999em;
  width: 85px;
  height: 77px;
}
.checkReg {
  display: block;
  cursor: pointer;
}
label {
  display: -webkit-box;
  color: #777b91;
  margin-left: 16px;
  margin-top: -7px;
}
.aMore {
  text-decoration: none;
  color: wheat;
}
.other {
  position: relative;
  opacity: 0;
  padding: 10px;
  margin: 150px auto;
  text-align: -webkit-auto;
  width: 455px;
  color: wheat;
  background: #1f1e23;
  box-shadow: 0 0 35px 0px black;
  border-radius: 10px;
  font-family: -webkit-body;
  height: 65px;
  font-style: italic;
  z-index: 9;
}
#footerSlice {
  position: absolute;
  width: 455px;
  left: 50%;
  margin-left: -237px;
  margin-top: 70px;
}
.lbl1 {
  width: 130px;
}
.lbl2 {
  width: 260px;
}
.otherField {
  width: 450px;
  background: #242328;
  padding: 1px;
  text-align: center;
  float: left;
  margin: 3px 0 0 2px;
  border-radius: 10px;
  line-height: 1.5;
  cursor: default;
}
.aboutReg {
  background: #b78b06;
}
.aboutReg:hover {
  background: #c3b10c;
}
.logo {
  margin-top: 6px;
  position: absolute;
  margin-left: 20px;
}
.hr {
  color: #555;
  background-color: #ffc000;
  border: 0px none;
  height: 1px;
  clear: both;
  width: 350px;
  margin-top: -2px;
}
.dataDay {
  float: left;
  margin-left: 32px;
  margin-top: -12px;
  text-align: center;
  background: #daf4fe;
  color: #25262a;
  border-radius: 10px 0 10px;
  border: 1px solid;
  width: 60px;
  font-size: 15px;
  padding: 3px;

}
.dataYear {
  margin-top: -12px;
  float: left;
  margin-left: 10px;
  text-align: center;
  background: #daf4fe;
  color: #25262a;
  border-radius: 10px 0 10px;
  border: 1px solid;
  width: 100px;
  padding: 3px;
  font-size: 15px;
}
.dataMonth {
  margin-top: -12px;
  float: left;
  margin-left: 10px;
  text-align: center;
  background: #daf4fe;
  color: #25262a;
  border-radius: 10px 0 10px;
  border: 1px solid;
  font-size: 15px;
  padding: 3px;

}
:focus{
  outline: none;
}